/*
--sun: #f0a202ff;
--circle: #d4a0a7;
--cactus: #53917eff;
--dark: #1f2421ff;
--background: #eee5e9;
--pot: #ae6758ff;
--cheeks: #c84630ff;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee5e9;
    width: 100%;
    height: 100vh;
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80vmin;
    height: 80vmin;
    border-radius: 50%;
    background-color: #d4a0a7;
}

.pot {
    position: absolute;
    border-bottom: 25vmin solid #835050;
    border-left: 7vmin solid transparent;
    border-right: 7vmin solid transparent;
    height: 0;
    width: 40vmin;
    bottom: 15vmin;
    transform: rotate(180deg);
    border-radius: 3vmin;
}